Package: {{app}}
Version: {{version}}
Architecture: {{arch}}
Maintainer: {{maintainer}}
Description: {{description}}
{{#depends}}
Depends: {{depends}}
{{/depends}}
{{#recommends}}
Recommends: {{recommends}}
{{/recommends}}
{{#suggests}}
Suggests: {{suggests}}
{{/suggests}}

